@model S3G11_PVFAPP.Models.WorkCenter

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WorkCenter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkCenterLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkCenterLocation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkCenterID }, new { @class = "btn btn-outline-primary" }) |
    @Html.ActionLink("Back to List", "Index")
</p>
