@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Pine Valley Furniture Company is a renowned furniture manufacturer based in the United States. The company was established in 1985, and since then, it has been providing high-quality furniture to customers across the country. Pine Valley Furniture Company has gained a reputation for its exceptional craftsmanship, attention to detail, and commitment to customer satisfaction.</p>


<h2>Contact Us At</h2>
<address>
    Group11<br />
    Denton, DP -K150<br />
    TX-76201
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@Group11.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@Group11.com</a>
</address>